
@{
    ViewData["Title"] = "Threads";
}

<div class="header text-center">
    <h3 class="display-4">SubForums</h3>
</div>
<div id="Main">
    @*stuff goes in here*@

    <div id="@ViewBag.SubID" class="grid">
    </div>
</div>
<button class="btn btn-dark" id="LoadMore">Load More recent posts</button>
@section Scripts{

    <script src="~/js/Threads_Main.js"></script>
}
