
<div class="header text-center">
    <h3 class="display-4">Threads</h3>
</div>
<div id="Main">
    @*stuff goes in here*@

    <div id="@ViewBag.SubID" class="grid">
    </div>
</div>
<div class="modal fade" id="sublistmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="list-group" id="sublist">
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("AddThreadPartial", null, null)
@await Html.PartialAsync("EditThreadPartial", null, null)
@section Scripts{
    <script src="~/js/Posts_Ajax.js"></script>
    <script src="~/js/Threads_Ajax.js"></script>
    <script src="~/js/Threads_Functions.js"></script>
    <script src="~/js/Posts_Functions.js"></script>
    <script src="~/js/Threads_Main.js"></script>
}
